$fontDef:calc(max(0.5vw, 10px));

ion-col {
  border: 1px solid grey;
  text-align: center;
  // width: 100%;
  border-collapse: collapse;
}

.col__dvp {
  left: 0;
  top: 0;
  width: 20px;
  height: 200px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div__dvp {
  width: 20px;
  height: 50px;
  margin: -80px;
  // font-size: $fontDef;
  background-color: green;
  color: white;
  block-size: 25px;
  display: flex;
  // flex-wrap: nowrap;
  // flex-direction: column;
  flex-grow: 1;
  // flex-shrink: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(90deg);
}
.label_dvp{
  height: auto;
  margin: auto;
  display: flex;
}

.values-row {
  height: 250px;
}