$fontDef:calc(max(0.5vw, 10px));

ion-col {
  border: 1px solid grey;
  text-align: center;
  // width: 100%;
  border-collapse: collapse;
}


.col__dvp {
  width: 50px;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div__dvp {
  width: 45px;
  height: 1%;
  margin: 0%;
  font-size: $fontDef;
  background-color: green;
  color: white;
  block-size: 25px;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(90deg);
}

.div__dvm {
  width: 100%;
  height: auto;
  margin: 0%;
  font-size: $fontDef;
  background-color: green;
  color: white;
  block-size: 25px;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(90deg);
}
.div__dmo {
  width: 100%;
  height: auto;
  margin: 0%;
  font-size: $fontDef;
  background-color: green;
  color: white;
  block-size: 25px;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(90deg);
}




.values-row {
  height: 250px;
}