<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Gestão de Projetos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="6"> Gestão </ion-col>
        <ion-col size="6">Conposição de Disciplina </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"> Projetos </ion-col>
        <ion-col> Arquitetótico </ion-col>
        <ion-col> Material </ion-col>
        <ion-col> Mão de Obrra </ion-col>
      </ion-row>
      <ion-row class="values-row">
        <ion-col class="col__dvp" size="6"> NOME ID </ion-col>
        
        <ion-col class="col__dvp">

          <div class="div__dvp">
            <span class="label_dvp">Steel 1</span>
          </div>
          
          <div class="div__dvp">
            <span>Steel 2</span>
          </div>
          
          <div class="div__dvp">
            <span class="label_dvp">Steel 3</span>
          </div>
          
          <div class="div__dvp">
            <span class="label_dvp">Steel 4</span>
          </div>
          
          <div class="div__dvp">
            <span class="label_dvp">Steel 5</span>
          </div>
          
          <div class="div__dvp">
            <span class="label_dvp">Steel 6</span>
          </div>
        <div class="div__dvp">
        <span class="label_dvp">Steel 7</span>
        </div>

      </ion-col>

      <ion-col class="col__dvp">

      <div class="div__dvp">
        <span class="label_dvp">Material 1</span>
      </div>

      <div class="div__dvp">
        <span>Material 2</span>
      </div>

      <div class="div__dvp">
        <span class="label_dvp">Material 3</span>
      </div>

      <div class="div__dvp">
        <span class="label_dvp">Material 4</span>
      </div>

      <div class="div__dvp">
        <span class="label_dvp">Material 5</span>
      </div>

      <div class="div__dvp">
      <span class="label_dvp">Material 6</span>
      </div>


      </ion-col>

    
      <ion-col class="col__dvp">

      <div class="div__dvp">
        <span class="label_dvp">Mão de Obra 1</span>
      </div>

      <div class="div__dvp">
        <span>Material 2</span>
      </div>

      <div class="div__dvp">
        <span class="label_dvp">Mão de Obra 3</span>
      </div>

      <div class="div__dvp">
        <span class="label_dvp">Mão de Obra 4</span>
      </div>

      <div class="div__dvp">
        <span class="label_dvp">Mão de Obra 5</span>
      </div>

      <div class="div__dvp">
      <span class="label_dvp">Mão de Obra 6</span>
      </div>


      </ion-col>

      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row> </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
