$fontDef:calc(max(0.5vw, 10px));

ion-col {
  border: 1px solid grey;
  text-align: center;
  // width: 100%;
  border-collapse: collapse;
}

.col__dvp {
  left: 0;
  top: 0;
  width: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div__dvp {
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  margin: 0;
  font-size: $fontDef;
  background-color: green;
  color: white;
  block-size: 25px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(90deg);
}





.values-row {
  height: 250px;
}